	body
	{
		font-size=11;
		font-family='Trebuchet MS';
		width:130;
		height:150;
		margin: 0px;
		padding-top: 6px;
		padding-left: 9px;
		color='white';
	}
	td
	{
		font-size=11;
		font-family='Trebuchet MS';
		color='white';
	}

	.tab
	{
		cursor: hand;
	}

	.storeUserData {
	      behavior:url(#default#userData);
        }
